.Profile {
    justify-content: center;
}

.Profile-content {
    flex-direction: row;
}


.Profile label {
    text-align: right;
}

.autocompleteContainer {
    text-align: left;
    font-size: smaller;
    background-color: lightgrey;
    color: black;
    width: 90%;
    margin:auto;
    cursor: pointer;
}

.Profile-artists {
    justify-content: center;
    overflow-y: scroll;
    height: 340px;
}

.Profile-homeBtn {
    margin-left: 38%;
    padding: 10px;
}